$BG-Green-1 : #CEE6DE;
$BG-Green-2 : #07A249;
$BG-Green-3 : #075700;
$BG-Blue-1 : #00BCD4;
$BG-Yellow-1 :#FFA21A;
$BG-Red-1 :#E53935;
$BG-Grey-1 :#EEFAEA;
$Text-Green-1 : #07A249;
$Text-Red-1 : #F71349;
$Text-Grey-1 : #D2D2D2;
$White : #FFFFFF;
$BG-Shadow:#777777;